<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="./index.html">AmiiboAPI</a>
</nav>

<div class="container-fluid">
  <h1>Tarea #3</h1>
  <h2>Aplicaciones Móviles</h2>
  <h3>Personajes Amiibo de Nintendo</h3>
  <h4>Con Angular y Bootstrap</h4>
  <br />
  <app-home></app-home>
</div>
