<div class="row">
  <div class="col-sm">
    <button type="button" class="btn btn-dark" (click)="getAmiibo()">
      Mostrar Personajes Random
    </button>
    <br />
    <br />
    <div id="carta" class="container-fluid">
      <div *ngIf="isLoading" class="card" style="width: 300px">
        <div class="card-body">
          <h4 class="card-title">Amiibo</h4>
          <p class="card-text">Un personaje se mostrará aqui</p>
        </div>
        <img
          class="card-img-top"
          src="imagen.png"
          alt="Imagen"
          style="width: 100%"
        />
      </div>

      <div id="cartases" class="card-deck">
        <!--Estructura de una carta-->
        <div class="card" style="width: 300px" *ngFor="let mi of amiibo">
          <div class="card-body">
            <h4 class="card-title">{{ mi.name }}</h4>
            <p class="card-text">Game Series: {{ mi.gameSeries }}</p>
          </div>
          <img
            class="card-img-top"
            [src]="mi.image"
            alt="Imagen"
            style="width: 100%"
          />
        </div>
        <!----->
      </div>
    </div>
  </div>
</div>
